<div class="modal-header modal-header-primary">
    <h3 class="modal-title">Aggregate Nodes to Abstract Layer</h3>
</div>


<div class="modal-body">
</div>
<form name="queryForm" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-6 control-label">Selected ({{selectedNodes.length}}) Nodes</label>
    </div>

    <div class="form-group" ng-repeat="node in selectedNodes">
        <label class="col-sm-2 control-label">Word:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="node.data.word" ng-disabled="true">
        </div>

        <label class="col-sm-1 control-label">Type:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="node.data.class" ng-disabled="true">
        </div>

        <label class="col-sm-1 control-label">ID:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="node.id" ng-disabled="true">
        </div>
    </div>

    <div class="form-group">
        <label for="nodeLabel" class="col-sm-2 control-label">Label:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nodeLabel" placeholder="eg. Active Ageing" ng-model="nodeLabel">
        </div>
    </div>

    <div class="form-group">
        <label for="nodeType" class="col-sm-2 control-label">Type:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nodeType" placeholder="eg. Concept, Lemma, etc" ng-model="nodeType">
        </div>
    </div>

</form>
</div>

<div class="modal-footer">
    <button type="submit" id="btnSubmit" class="btn btn-primary" ng-click="submit()" ng-disabled="submitDisabled()">Submit</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
</div>

