<div class="modal-header modal-header-primary">
    <h3 class="modal-title">Expand Nodes</h3>
</div>


<div class="modal-body">
</div>
<form name="queryForm" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-6 control-label">Selected ({{selectedNodes.length}}) Nodes</label>
    </div>

    <div class="form-group" ng-repeat="node in selectedNodes">
        <label class="col-sm-2 control-label">Word:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="node.data.word" ng-disabled="true">
        </div>

        <label class="col-sm-1 control-label">Type:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="node.data.class" ng-disabled="true">
        </div>

        <label class="col-sm-1 control-label">ID:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="node.id" ng-disabled="true">
        </div>
    </div>

    <div class="form-group">
        <label for="relation" class="col-sm-2 control-label">Relation to Find:</label>
        <div class="col-sm-4">
            <input type="text" bs3-typeahead bs3-promise="relations" class="form-control" id="relation" placeholder="Type 'any' to see all relations" ng-model="relation">
        </div>
    </div>

    <div class="form-group">
        <label for="count" class="col-sm-2 control-label">Count > than:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" id="count" placeholder="eg. 1" ng-model="count">
        </div>
    </div>

    <div class="form-group">
        <label for="limit" class="col-sm-2 control-label">Limit to:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" id="limit" placeholder="eg. 20" ng-model="limit">
        </div>
    </div>

</form>
</div>

<div class="modal-footer">
    <button type="submit" id="btnSubmit" class="btn btn-primary" ng-click="submit()" ng-disabled="submitDisabled()">Submit</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
</div>

