<div class="modal-header modal-header-primary">
    <h3 class="modal-title">Query the Graph</h3>
</div>


<div class="modal-body">
    </div>
    <form name="queryForm" class="form-horizontal">

        <div class="form-group">
            <label for="subject" class="col-sm-4 control-label">Subject:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="subject" placeholder="eg. aging" ng-model="subject">
            </div>
        </div>

        <div class="form-group">
            <label for="count" class="col-sm-4 control-label">With count more than:</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="count" placeholder="eg. 1" ng-model="count">
            </div>
        </div>

        <div class="form-group">
            <label for="limit" class="col-sm-4 control-label">Show me the top:</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="limit" placeholder="eg. 20" ng-model="limit">
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button type="submit" id="btnSubmit" class="btn btn-primary" ng-click="submit()" ng-disabled="submitDisabled()">Submit</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
</div>

