<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CI GraphWeb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery library, should be pre-loaded before everything -->
    <script src="/js/lib/jquery.min.js"></script>

    <!-- Our own css file -->
    <link rel="stylesheet" href="/css/app.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

<div ng-app="AppController" ng-controller="appController">

<div class="row">
    <div class="col-md-9">
            <div class="toolbar">
                <button ng-click="doQuery()" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>&nbsp;Query</button>
                <button ng-click="clearGraph()" class="btn btn-danger"><i class="glyphicon glyphicon-erase"></i>&nbsp;Clear Graph</button>
                <button ng-click="aggregateNode()" ng-disabled="addDisabled()" class="btn btn-warning"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Aggregate Nodes</button>
                <button ng-click="expandNode()" ng-disabled="addDisabled()" class="btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp;Expand Nodes</button>
            </div>
    </div>

    <div class="col-md-3">
        <div class="pull-right">
            <div class="toolbar">
                <span class="btn btn-primary fileinput-button">
                    <i class="glyphicon glyphicon-import"></i>
                    <span>Import Files</span>
                    <input type="file" ng-file-model="files" multiple />
                </span>
                <span class="btn btn-warning fileinput-button">
                    <i class="glyphicon glyphicon-book"></i>
                    <span>Import Dictionary</span>
                    <input type="file" ng-file-model="dictionaries" multiple />
                </span>
            </div>
        </div>
    </div>

</div>

<hr />

    <h4>Visual</h4>

    <p>Results: {{dataresult}}</p>

    <div id="cy"></div>

    <div growl></div>

</div>

<!-- Angular libraries -->
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-resource.min.js"></script>
<script src="/js/lib/angular-route.min.js"></script>
<script src="/js/lib/angular-animate.min.js"></script>
<script src="/js/lib/angular-loader.min.js"></script>
<script src="/js/lib/angular-sanitize.min.js"></script>
<script src="/js/lib/angular-touch.min.js"></script>
<script src="/js/lib/ui-bootstrap-tpls.min.js"></script>
<script src="/js/lib/angular-growl.min.js"></script>
<script src="/js/lib/bootstrap3-typeahead.min.js"></script>
<script src="/js/lib/angular-bootstrap3-typeahead.js"></script>

<!-- Angular css -->
<link rel="stylesheet" href="/css/angular-growl.min.css">

<!-- Cytoscape library -->
<script src="/js/lib/cytoscape.min.js"></script>

<!-- Our own libraries -->
<script src="/js/app/app.js"></script>
<script src="/js/app/queryController.js"></script>
<script src="/js/app/aggController.js"></script>
<script src="/js/app/expandController.js"></script>

</body>

</html>