#cy {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fileinput-button
{
	position: relative;
	overflow: hidden;
}

.fileinput-button input
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}